.simba {
	color: red;
	text-transform: uppercase;
}

.darzove {
	font-style: italic;
	font-size: 20px;
	color: tan;
}

.limba {
	color: green;
	text-transform: uppercase;
}
.kimba {
	color: blue;
	text-transform: uppercase;
}
